/****  COLORS  ****/
/*
	dark blue 	= #0089BF	#80C5DF
	green	  	= #AFE261	#A7F1B0
	light blue	= #21DDB1	#90EED8	
	purple		= #A78BC6	#D3C5E3
	red			= #F96854	#FCB4AA
	orange		= #F39237	#F9C99B
	grey		= #3C4859	#FFFFFF

*/

/***  RESET STYLE SHEET  ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***  LAYOUT STYLE SHEET  ***/


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Raleway:400,500,700');

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* NAVIGATION ********************************************************************************/
.navi {
	position: absolute;
	top: 0;
	right: 1%;
	width: 15%;
	margin-top: 15px;
	z-index: 997;
}
#buttons, #res-dropdown, #port-dropdown {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#buttons button, #navi-contact button {
    padding: 5px;
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    margin: 5px 5px;
	font-size: 1.5em;
	background-color: rgba(0,0,0,0);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
#buttons button:hover, #navi-contact button:hover {	cursor: pointer;}
#res-dropdown, #port-dropdown {
	display: none;	
}
#res-dropdown a, #port-dropdown a {
	color: white;
	padding: 5px 16px;
	text-decoration: none;
	display: block;
}

/*CONTACT FORM POPUP*/
#contact-div {
	height: 80vh;
	width: 80vw;
	margin: 10vh 0 0 10vw;
	position: absolute;
	padding: 5%;
	background-color: rgba(255,255,255, 0.95);
	color: #322244;
	border-radius: 15px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	overflow-y: scroll;
	overflow-x: hidden;
}
#contact-div h2 {
	font-size: 2em;
	text-align: center;
}
#contact-div input, #contact-div label, #contact-div textarea {
	margin-top: 5px;
	padding: 5px 0;
	width: 100%;
	font-family: 'Raleway';
	font-weight: 700;
}
#contact-div #submitbttn {
    padding: 12px 12px;
    border: 3px solid #A78BC6;
    border-radius: 15px;
    text-decoration: none;
    color: #322244;
	width: auto;
	background-color: rgba(0,0,0,0);
}
#contact-div #submitbttn:hover {cursor: pointer;}
#contact-div {display: none;}
#closebttn {
	position: absolute;
	right: 24px;
	font-size: 20px;
	padding: 0 15px 15px 15px;
}
#closebttn:hover {cursor: pointer; }

/* LAYOUT ***********************************************************/
body {
	position: relative;
	font-size: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	min-height: 100vh;
}

.flex__container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100vh;
	width: 100%;
	z-index: 1;
}
.flex__container.flex--active {	z-index: 2; }

/* TEXT STYLINGS *******************************************************/
.text--big {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-left: -8px;
	color: white;
}

.subtitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: white;
	margin: 10px 0;
}
.subtitle:hover {
	cursor: pointer;
}
.text--normal, li {
	color: rgba(255, 255, 255, 0.9);
	font-weight: 500;
	margin-top: 10px;
	padding-top: 5px;
}

/* REMADE LITS*/
.list {
	list-style: none;
	padding: 0;
}
.list li {
	margin: 0;
	padding-left: 15px;
}
.list li:before {
	content: "»";
	padding-right: 6px;
	margin-left: -12px;
}

/*ACCORDIONS*/
.accordion-content {
	display: none;
}
.accordion-img {
	display: none;
}

@media screen and (min-width: 791px) { 
	.text--big {
		font-size: 3em;
		line-height: 75px;
		line-height: 60px;
	}
	.subtitle {
		font-size: 1.7em;
	}
	#buttons button , #navi-contact button {
		font-size: 20px;
		padding: 8px 8px;
	}
	.text--normal, li {
		font-size: 18px;
		line-height: 100%;
	}	
	.skill_icon_container img {
		height: 60px;
		padding: 5px;
	}
	#dropdowns #res-dropdown a, #dropdowns #port-dropdown a {
		font-size: 16px;
	}
}
@media screen and (max-width: 790px) and (min-width: 481px) { 
	.navi { width: 28%;	}
	.text--big {
		font-size: 2.1em;
		line-height: 40px;
		padding-top: 10%;
	}
	.subtitle {
		font-size: 1.2em;
	}
	#buttons button , #navi-contact button {
		font-size: 18px;
		padding: 10px 10px;
	}
	.text--normal, li {
		font-size: 14px;
		line-height: 100%;
	}
	.skill_icon_container img {
		height: 30px;
		padding: 4px;
	}
	#dropdowns #res-dropdown a, #dropdowns #port-dropdown a {
		font-size: 16px;
	}
}
@media screen and (max-width: 480px) and (min-width: 150px) {
	.navi { width: 30%;	}
	.text--big {
		font-size: 1em;
		line-height: 15px;
		padding-top: 10%;		
	}
	.subtitle {
		font-size: .6em;
	}
	#buttons button , #navi-contact button {
		font-size: 16px;
		padding: 7px;
	}
	.text--normal, li {
		font-size: 12px;	
	    line-height: 100%;
	}
	.skill_icon_container img {
		height: 15px;
		padding: 3px;
	}
	#dropdowns #res-dropdown a, #dropdowns #port-dropdown a {
		font-size: 14px;
	}
}
.skillinfo {
	display:none;
	font-style: italic;
	padding: 0;
	margin: 0;
}
.skill_icon_container {
	margin-top: 5px;
}

.flex__item {
	height: 100vh;
	color: #fff;
	transition: transform 0.1s linear;
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 70%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.flex__item--right {
	width: 30%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}
/**************   COLOR DIVS   *********************/
/* Dark Blue */
.flex--dblue .flex__item--left {background: #0089BF;color: #FFF;}
.flex--dblue .flex__item--right {background: #80C4DF;color: #3C4859;}
/* Green */
.flex--green .flex__item--left {background: #AFE261;color: #FFF;}
.flex--green .flex__item--right {background: #A7F1B0;color: #3C4859;}
/* Light Blue */
.flex--lblue .flex__item--left {background: #21DDB1;color: #FFF;}
.flex--lblue .flex__item--right {background: #90EED8;color: #3C4859;}
/* Orange */
.flex--orange .flex__item--left {background: #F39237;color: #FFF;}
.flex--orange .flex__item--right {background: #F9C99B;color: #3C4859;}

/* Purple */
.flex--purple .flex__item--left {background: #A78BC6;color: #FFF;}
.flex--purple .flex__item--right {background: #D3C5E3;color: #3C4859;}
/* Red */
.flex--red .flex__item--left {background: #F96854;color: #FFF;}
.flex--red .flex__item--right {background: #FCB4AA;color: #3C4859;}

.flex__content {
	margin-left: 7%;
	width: 50vw;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.display__img {
	position: absolute;
	bottom: 15%;
	right: 17%;
	max-width: 25%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

/* Animate-START point */
.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);	opacity: 0;
}
.flex__container.animate--start .display__img {
	transform: translate3d(-200px,0,0);	opacity: 0;
}
/* Animate-END point */
.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}
.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}
.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);opacity: 0;
}
.flex__container.animate--end .display__img {
	transform: translate3d(200px,0,0);opacity: 0;
}

/******   D3 CHARTS: SUNBURST, IMAGE BUBBLES   ******/
/*  SUNBURST */
	#chart {
		position: relative;
	}
	#chart path {
		stroke: #fff;
	}
	#displaySkill {
		color: white;
		z-index: -1;
	}
@media only screen and (min-height: 1080px) { #main { float: left; width: 540px; }}
@media only screen and (min-height: 800px) and (max-height: 1079px) { #main { float: left; width: 400px; }}
@media only screen and (min-height: 768px) and (max-height: 799px) { #main { float: left; width: 384px; }}
@media only screen and (min-height: 568px) and (max-height: 767px) { #main { float: left; width: 284px; }}